.bg-back{
    height: 100%;
    background: url('../img/bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    position: fixed;
}
.block {
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(0,0,0,.55);
    color: #fff;
    padding: 32px;
    width:60%;
    height:300px;
    position: fixed;
    top: 40%;
    left: 30%;
    margin-top: -100px;
    margin-left: -100px;
}
@media (max-width: 768px){
    .block{
        height:380px;
        margin-left: -50px;
    }
}
