<div class="row">
  <input type="search" class="form-control" placeholder="Search..."  ng-model="pattern">
</div>
<div class="row" ng-init="dim=true; highlight=true">
  <div ui-tree>
    <ol ui-tree-nodes="" ng-model="ca.category.data" ng-class="{hidden: ca.collapsed}" data-nodrag>
      <li ng-repeat="item in ca.category.data" ui-tree-node
          ng-show="(item | uiTreeFilter: pattern)"  
          ng-include="'/views/directive/nodes_renderer.html'"></li>
    </ol>
  </div>
</div>
