<ul class="list-group">
  <li class="list-group-item list-group-item-info" style="cursor: pointer" ng-click="cl.editCategory('Add')">+ Add</li>
  <li class="list-group-item" ng-repeat="category in cl.category_list" 
      ng-class="{active: category.meta.isSelected}">
      <label ng-click="cl.selectCategory(category)">{{category.name}}</label>
      <span class="glyphicon glyphicon-edit pull-right" ng-click="cl.editCategory('Edit', category)" style="display: inline-block"></span>    
      <span class="glyphicon glyphicon-trash pull-right" ng-click="cl.confirmDelete(category)" style="display: inline-block; margin-right:5px"></span>
  </li>
</ul>
