<div ui-tree-handle class="tree-node tree-node-content" 
     style="margin-top:10px;padding:10px 10px; background:#bbb; cursor: default">
  <a class="btn btn-success btn-xs" ng-if="item.nodes && item.nodes.length > 0" data-nodrag ng-click="ca.toggle(item)"><span class="glyphicon" ng-class="{
          'glyphicon-chevron-right': ca.collapsed,
          'glyphicon-chevron-down': !ca.collapsed
        }"></span></a>
  {{item.title}}
  <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="ca.remove(this)"><span
        class="glyphicon glyphicon-remove"></span></a>
  <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="ca.openSelectCategoryModal(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<ol ui-tree-nodes="" ng-model="item.nodes" ng-class="{hidden: item.collapsed}" data-nodrag>
  <li ng-repeat="item in item.nodes" ui-tree-node ng-include="'/views/directive/nodes_renderer.html'"
      ng-show="(item | uiTreeFilter: pattern)">
  </li>
</ol>
