<!-- hef: https://github.com/jonmiles/bootstrap-treeview -->
<div class="bg-back">
  <div class="row">
    <div class="pull-right" style="margin-right:20px; margin-top:20px;display: inline-block">
      <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{category.user.username}}
          <span class="caret"></span></button>
          <ul class="dropdown-menu pull-right">
              <li><a href ng-click="category.logoutUser()">Logout</a></li>
          </ul>
      </div>
    </div>
    <div class="pull-left" style="margin-left:20px; margin-top:10px;display: inline-block">
      <label for="" style="font-size: 2em">ShoppinPal Test</label>
    </div>
  </div>
  <div class="row" style="margin-top:20px">
    <div class="col-md-3 col-lg-3">
        <category-list></category-list>
    </div>
    <div class="col-md-5 col-lg-5">
        <category-tree-view></category-tree-view>
    </div>
  </div>
</div>

<!-- Category create/edit modal -->
  <div id="categoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{cl.modal.title}}</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" ng-submit="cl.saveCategory(cl.modal)">
            <div class="form-group">
              <label for="name" class="control-label col-md-2 col-lg-2">Name</label>
              <div class="col-md-6 col-lg-6">
                <input type="text" class="form-control" ng-model="cl.modal.name" placeholder="Name">
              </div>
            </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" ng-click="cl.saveCategory(cl.modal)">Done</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Category select modal -->
  <div id="categorySelectModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Select category</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" ng-submit="ca.newSubItem(ca.scope)">
            <div class="form-group">
              <label for="category" class="control-label col-md-2 col-lg-2">caltegory</label>
              <div class="col-md-6 col-lg-6">
                <select class="form-control" ng-model="ca.select_category"
                        ng-options="obj as obj.name for obj in category.category_list"></select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" ng-click="ca.newSubItem(ca.scope)">Done</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Category delete modal -->
  <div id="confirmDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Select category</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure to delete node.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="cl.deleteCategory()">Done</button>
        </div>
      </div>

    </div>
  </div>