<div class="row bg-back">
    <div class="block">
        <h2 class="text-center">Login</h2>
        <form class="form-horizontal login-form">
            <div class="form-group">
                <label for="email" class="control-label col-sm-2">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" placeholder="Email" ng-model="login.email">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="control-label col-sm-2">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="Password" ng-model="login.password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary" ng-click="login.loginUser()">Log in</button>
                </div>
                <div class="col-sm-offset-1 col-sm-4">
                    <input type="button" class="text-right btn btn-link" ng-click="login.redirectSignUp()" value="Signup" style="color:white">
                </div>
            </div>
        </form>
    </div>
</div>
