<div class="row bg-back">
    <div class="block">
        <h2 class="text-center">Sign up</h2>
        <form class="form-horizontal login-form" ng-submit="signup.signUpUser()">
            <div class="form-group">
                <label for="name" class="control-label col-sm-2">Name</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control" placeholder="Name" ng-model="signup.username" required>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="control-label col-sm-2">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" placeholder="Email" ng-model="signup.email" required>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="control-label col-sm-2">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="Password" ng-model="signup.password" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
            </div>
        </form>
    </div>
</div>
